@keyframes flash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	/*60% {
		opacity: 1;
	}*/
	100% {
		opacity: 0;
	}
}
@keyframes pulse {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
	/*60% {
		opacity: 0.1;
	}*/
	100% {
		opacity: 0.3; /*was previously 0.05*/
	}
}